.idea/
correcoes.txt
luta(erro-charset).php
readme.html

NewProject.bmpr

backup-ou-excluidas/
docs/
iconic-master/
open-iconic-master/

class/ClassCrud_old.php
class/ClassCrud_old2.php
include/json-paises.php
js/functions_old.js
img/photothumb.db